.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0c5460;
    color: white !important;
}


#heroimage{
    max-width: 100%;
    height: auto;
}

.about-me{
    width: 250px;
}

.experience-text {
    width: 500px;
}

.on-hover{
    transition: transform .2s;
}

.on-hover:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



/**************
GUESTBOOK CSS
**************/
#html-guestbook{
    background: url(/305/portfolio/images/esthetic_clouds.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.jumbotron{
    background-color: white;
}

.form-div{
    background-color: white;
}

#guestbook-form{

}
